* {
    list-style: none;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    background-color: #fbfbfa;
}

h1 {
    margin: 0;
    font-size: 30px;
    color: rgb(5, 38, 58);
}

h2 {
    margin: 0 0 20px;
    font-size: 26px;
}

p {
    margin: 0;
}

a {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fbfbfa;
    width: 100%;
    text-align: center;
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(5, 38, 58);
    font-family: 'Overpass', serif;
    padding: 5px 0;
}

.nav-wrap {
    display: flex;
}

.nav-wrap li {
    margin: 0 10px;
    font-size: 22px;
    color: rgb(5, 38, 58);
    cursor: pointer;
}

.nav-wrap li:hover {
    text-decoration: underline;
}

main {
    padding:  80px 40px 10px;
    max-width: 55%;
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
}

.about {
    margin-bottom: 80px;
    text-align: left;
}

.about > p {
    margin-bottom: 40px;
    font-size: 22px;
}

.about a {
    background-color: rgb(15, 74, 113);
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 3px;
}

.about a:hover {
    background-color: rgb(11, 57, 87);
}

/* Projects */
#projects {
    margin: 80px 0 20px;
}

.thumb {
    height: 100%;
    width: 100%;
}

.icon {
    height: 45px;
    width: 45px;
    margin: 0 5px;
}

.node {
    width: 55px;
}

.projects p {
    font-size: 22px;
}

.text {
    text-align: left;
}

.p1, .p2 {
    margin-bottom: 40px;
}

.p-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dr a {
    color: #106bc3;
    font-size: 22px;
}

.dr a:hover {
    color: #3695f1;
}

/* Contact */

footer {
    padding: 20px 0 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.icons {
    cursor: pointer;
}

#gmail {
    height: 42px;
    width: 50px;
}

#linkedin {
    height: 45px;
    width: 50px;
    position: relative;
    bottom: 1px;
}

#github {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 4px;
}

/* HAMBURGER */
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
}

.menu-wrap {
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    z-index: 1;
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background:  #27374c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}
/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Media Queries */

@media(max-width: 850px) {
    
    nav {
        flex-direction: column;
        width: 85%
    }

    h1 {
        font-size: 26px;
    }

    main {
        max-width: 80%;
        padding-top: 100px;
    }

    .nav-wrap li {
        font-size: 20px;
        margin: 0 15px;
    }
    
    .about p {
        font-size: 20px;
    }

    .about a {
        font-size: 18px;
    }

    .icon {
        height: 30px;
        width: 30px;
    }

    #gmail {
        height: 34px;
        width: 40px;
    }
    
    #linkedin {
        height: 36px;
        width: 40px;
    }
    
    #github {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 500px) {
    nav {
        width: 95%;
    }

    main {
        padding-top: 80px;
        max-width: 95%;
    }

    h1 {
        font-size: 24px;
    }

    .nav-wrap li {
        font-size: 16px;
        margin: 0 15px;
    }
    
    .about  p {
        font-size: 16px;
    }

    .about a {
        font-size: 14px;
    }

    .projects p {
        font-size: 16px;
    }

    .dr a {
        font-size: 16px;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin: 0 2px;
    }

    .icons {
        margin: 0 10px;
    }

    #gmail {
        height: 30px;
        width: 35px;
    }
    
    #linkedin {
        height: 32px;
        width: 35px;
        left: 4px;
    }
    
    #github {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    .about  p {
        font-size: 15px;
    }

    .about a {
        font-size: 12px;
    }
    
    .projects p {
        font-size: 15px;;
    }

    .dr a {
        font-size: 15px;
    }

    .p-wrap {
        flex-direction: column;
    }
}