* {
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
}

.wrapper {
    height: 100%;
    /* background-color: #FDFFFC; */
}

section {
    display: flex;
    height: calc(100vh - 150px);
}

header {
    height:75px;
}

p {
    margin: 0;
    color: #27374c;
    font-size: 18px;
}

a {
    color: #27374c;
}

button {
    background: white;
    border: none;
}

.nav {
    display: flex;
    height: 100%;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
}

.nav-wrap {
    flex: 1 1 0%;
}

ul, li {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-link {
    font-size: 22px;

}

.nav-list li:not(:last-child) {
    margin-bottom: 20%;
}

.main-content {
    box-sizing: border-box;
    display: flex;
    padding: 0 5% 0 5%;
    flex: 0 1 100%;
    border-left: 1px solid #8c99a3;
    overflow: auto;
    justify-content: center;
}

.align-center {
    align-items: center !important;
}

.content-wrap {
    display: flex;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.about {
    justify-content: center;
}

.projects-wrap {
    display: flex;
    flex: 1 1 100%;
}

.projects {
    height: 100%;
    flex: 1 1 100%;
}

.project {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
}

.card {
    margin: 1em 1em 4em 1em;
    max-width: 800px;
    -webkit-box-orient: vertical;
    border: 1px solid #eee;
}

.icon {
    height: 40px;
    width: 45px;
}

.thumb {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}