* {
    text-decoration: none;
    list-style: none;
    color: rgb(5, 38, 58);
}

body {
    margin: 0;
    display: block
}

.wrapper {
    height: 100%;
}

.hide1 {
    display: none !important; 
}

.hide2 {
    display: none !important; 
}

.hide3 {
    display: none !important; 
}

section {
    display: flex;
    height: calc(100vh - 150px);
}

header {
    height:75px;
}

p {
    margin: 0;
    font-size: 18px;
}

.nav {
    display: flex;
    height: 100%;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
}

.nav-wrap {
    flex: 1 1 0%;
}

ul, li {
    margin: 0;
    padding: 0;
    font-size: 22px;
    cursor: pointer;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
}

.nav-list li:not(:last-child) {
    margin-bottom: 20%;
}

.main-content {
    box-sizing: border-box;
    display: flex;
    padding: 0 5% 0 5%;
    flex: 0 1 100%;
    border-left: 1px solid #8c99a3;
    overflow: auto;
    justify-content: center;
}

.align-center {
    align-items: center !important;
}

.content-wrap {
    display: flex;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.about {
    justify-content: center;
}

.projects-wrap {
    display: flex;
    flex: 1 1 100%;
}

.projects {
    height: 100%;
    flex: 1 1 100%;
}

.project {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    margin-bottom: 40px;
}

.card {
    margin: 1em 1em 4em 1em;
    max-width: 700px;
    -webkit-box-orient: vertical;
}

.p2 {
    position: relative;
    top: 100px;
}

.icon {
    height: 40px;
    width: 45px;
}

.thumb {
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
}

.text {
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    header {
        display: none;
    }
    section {
        flex-direction: column;
        height: calc(100vh - 75px);
    }

    .nav {
        display: flex;
        flex: 0 0 75px;
        margin: 0 5% 0 5%;
        border-bottom: 1px solid #8c99a3;
    }

    .nav-list {
        flex: 1 0 100%;
        display: flex;
    }

    .nav-list li {
        flex: 1 0 auto;
        align-self: flex-end;
    }

    .nav-list li:not(:last-child) {
        margin-bottom: 0;
    }
}

@media(max-width: 700px) {
    .p2 {
        position: relative;
        top: 160px;
    }
}